body , html {
	height: 100%;
}

#div1{
	background-color: HoneyDew;
	margin: 5%;
	float: left;
	height: 70%;
}

#div2{
	background-color: Khaki;
	height: 60%;
	overflow: scroll;	
	margin: 5%;
	padding: 6px;
	float: left;
}

#div3{
	background-color: MediumOrchid;	
	margin: 5%;
	clear: both;
}